/* Importing fonts from Google Fonts for the overall app */

@import url('https://fonts.googleapis.com/css?family=Roboto:400,400i,700,700i|Rufina:400,700');

/* 
font-family: 'Roboto', sans-serif; // overall text for app
font-family: 'Rufina', serif; // seperate font for app name: VACCess NYC
*/

/* Overall app layout */
body {
    background-color: white;
    font-family: 'Roboto', sans-serif;
    color: #1C374C;
}

.App {
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100%;
}

/* Header of the app: includes the banner of the app */
.App-header, .App-nav {
	background-color: #1B8895;
    color: white;
	display: flex;
	height: 15%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.App-header {
    justify-content: center;
    align-items: center;
    align-content: flex-end;
}

.App-nav {
	display: flex;
	flex-direction: row;
}

.App-title, .App-map-title {
  font-size: 1.5em;
  font-family: 'Rufina', serif;
}

.App-map-title {
	padding-left: 20px;
	padding-right: 20px;
}

.App-intro {
  font-size: large;
}

/* Homepage Container: includes a location question, search bar, search button,  */

#homepage {
    display: flex;
    flex-wrap: wrap;
}

.search-question {
    display: flex;
    justify-content: center;
}

.home-search {
    -webkit-appearance: none;
    border-radius: 3px 3px;
    text-indent: 20px;
    width: 500px;
    height: 40px;
    font-size: 2em;
}

.home-search::placeholder {
    color: rgb(163, 163, 163);
    font-family: 'Roboto', sans-serif;
    align-items: center;
}

.home-submit {
    -webkit-appearance: none;
    color: white;
    font-weight: bold;
    background-color: #1B8895;
    border: #1B8895;
    border-radius: 3px 3px;
    height: 40px;
    font-size: 14px;
    opacity: 1;
    transition: 0.3s;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.home-submit:hover {
    opacity: 0.6
}

.search-tool {
    display: flex;
    flex: auto;
    justify-content: center;
    align-items: center;
    height: 500px;
}

/* Map container: pin, affect of pin when hovered */
.map-page {
  display: flex;
  height: 600px;
  flex-direction: row-reverse;
}

.map-container {
    flex: auto;
    overflow: hidden;
}

.map-pin {
  position: relative;
  height: 60;
  width: 60;
}

.map-pin:hover{
  cursor: pointer;
  transform: scale(1.30);
  background-color: rgba(110, 160, 226, 0.253);
  border-radius: 20px;
}

.hidden {
    display:none;
}
.pin-container {
    position:absolute;
}
.pin-info {
    position: absolute;
    bottom: 30px;
    right: -60px;
    z-index: 9;
    background-color: whitesmoke;
    border: 1px #1C374C solid;
    color: #1C374C;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.pin-phram-facility-name {
    background-color: #0D5C63;
    color: white;
    margin: 0;
    padding: 25px;
}

/* Pharmacy list */
.location-list {
    display:flex;
    flex-direction: column;
    width: 30%;
    overflow: auto;
    height: 100%;
    margin: 0 auto;
}

.pharm-list {
    padding: 0;
    margin: 0;
}

.pharm-list h3 {
    padding-left: 10px;
}

.pharm-header {
    background-color: #0D5C63;
    color: white;
    height: 50px;
    font-size: 1.5em;
    width: 100%;
    margin: 0 auto;
    padding-top: 10px;
}

.pharm-list-info, .pharm-list {
    list-style-type: none;
    text-align: left;
}

.pharm-list-item{
    border-bottom: solid 1px #0D5C63;
}

.pharm-list-item:hover{
    background-color: grey
}

.italics {
    font-style: italic;
    font-weight: bold;
}