/* ----- Media Queries for different screen sizes ----- */
@media screen and (max-width: 520px) {
    .search-tool {
        display: inline-flex;
        flex-direction: column;
    }
    .home-search{
        width: 80%;
        text-align: center;
    }
    .home-submit {
         width: 80%;
    }
}

@media screen and (min-width: 300px) and (max-width: 520px) {
    .App-nav {
        height: 150px;
    }
    .App-nav, .map-search-tool, .map-submit {
        display: inline-flex;
        flex-direction: column;
    }
    .App-map-title {
        padding: 5px 0 0 0;
    }
    .map-search, .map-submit {
        width: 100%;
        text-align: center;
        justify-content: center;
    }
    .map-container {
        height: 100%;
        width: auto;
    }
    .location-list {
        height: 100%;
        overflow: scroll;
        width: 35%;
    }
    body {
        font-size: 10px;
    }
    .pharm-list-info {
        padding-left: 5px;
    }
}